<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
        <key>imgUrl</key>
        <string>https://ppoc.ca/styles/images/find_a_photographer_001.jpg</string>
		<key>surname</key>
		<string>Butt</string>
		<key>firstName</key>
		<string>James</string>
		<key>phoneNumber</key>
		<string>0710358144</string>
		<key>email</key>
		<string>jbutt@gmail.com</string>
	</dict>
    <dict>
        <key>imgUrl</key>
        <string>https://images.pexels.com/photos/1264210/pexels-photo-1264210.jpeg</string>
        <key>surname</key>
        <string>Paprocki</string>
        <key>firstName</key>
        <string>Lenna</string>
        <key>phoneNumber</key>
        <string>0710358144</string>
        <key>email</key>
        <string>lpaprocki@hotmail.com</string>
    </dict><dict>
        <key>imgUrl</key>
        <string>https://www.adorama.com/alc/wp-content/uploads/2016/10/shutterstock_479016244_mezz-825x465.jpg</string>
        <key>surname</key>
        <string>Marrier</string>
        <key>firstName</key>
        <string>Kris</string>
        <key>phoneNumber</key>
        <string>0710358144</string>
        <key>email</key>
        <string>kris@gmail.com</string>
    </dict><dict>
        <key>imgUrl</key>
        <string>https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvNT3GOIXNMiWgbVe63fo3WUrqKrPXDqNvPhFyOu6RVNA77irk</string>
        <key>surname</key>
        <string>Flosi</string>
        <key>firstName</key>
        <string>Fletcher</string>
        <key>phoneNumber</key>
        <string>0710358144</string>
        <key>email</key>
        <string>fletcher.flosi@yahoo.com</string>
    </dict><dict>
        <key>imgUrl</key>
        <string>https://www.banffcentre.ca/sites/default/files/styles/content_feature/public/Media%20and%20Production/Residencies/MaP190312_DSC4240.JPG?itok=jV228ID0</string>
        <key>surname</key>
        <string>Iturbide</string>
        <key>firstName</key>
        <string>Allene</string>
        <key>phoneNumber</key>
        <string>0710358144</string>
        <key>email</key>
        <string>allene_iturbide@cox.net</string>
    </dict><dict>
        <key>imgUrl</key>
        <string>https://images.pexels.com/photos/1264210/pexels-photo-1264210.jpeg</string>
        <key>surname</key>
        <string>Figeroa</string>
        <key>firstName</key>
        <string>Bernardo</string>
        <key>phoneNumber</key>
        <string>0710358144</string>
        <key>email</key>
        <string>bfigeroa@aol.com</string>
    </dict><dict>
        <key>imgUrl</key>
        <string>https://images.unsplash.com/photo-1513031300226-c8fb12de9ade?ixlib=rb-1.2.1</string>
        <key>surname</key>
        <string>Corrio</string>
        <key>firstName</key>
        <string>Ammie</string>
        <key>phoneNumber</key>
        <string>0710358144</string>
        <key>email</key>
        <string>ammie@corrio.com</string>
    </dict><dict>
        <key>imgUrl</key>
        <string>https://choc.ca/wp-content/uploads/2018/11/pexels-photo.jpg</string>
        <key>surname</key>
        <string>Glick</string>
        <key>firstName</key>
        <string>Albina</string>
        <key>phoneNumber</key>
        <string>0710358144</string>
        <key>email</key>
        <string>albina@glick.com</string>
    </dict><dict>
        <key>imgUrl</key>
        <string>https://images.pexels.com/photos/1264210/pexels-photo-1264210.jpeg</string>
        <key>surname</key>
        <string>Oldroyd</string>
        <key>firstName</key>
        <string>Dyan</string>
        <key>phoneNumber</key>
        <string>0710358144</string>
        <key>email</key>
        <string>doldroyd@aol.com</string>
    </dict><dict>
        <key>imgUrl</key>
        <string>https://images.unsplash.com/photo-1475274226786-e636f48a5645?ixlib=rb-1.2.1</string>
        <key>surname</key>
        <string>Bowley</string>
        <key>firstName</key>
        <string>Emerson</string>
        <key>phoneNumber</key>
        <string>0710358144</string>
        <key>email</key>
        <string>emerson.bowley@bowley.org</string>
    </dict>
</array>
</plist>
